body{
    background-color: #F5E8C7;
}

/* This is the start of the navbar*/

.navbar {
    overflow: hidden; /* overflow hidden does so the text don't get shown if theres more text that there is space */
    background-color: #333;
}
  
.navbar a /* A is ment for the anchors under the class .navbar*/ {
    float: left; /* Does so the text is on the left side of the navbar */
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Does so the line under the hyperlinks is not shown */
}
  
.dropdown {
    float: left; /* Does so the text is on the left side of the navbar */
    overflow: hidden; /* overflow hidden does so the text don't get shown if theres more text that there is space */
}
  
.dropdown .dropbtn /* Two diffrent divs because it effects them both */ {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit; /* Inherit means that it takes the element from the parent for example color */
    font-family: inherit; /* Inherit means that it takes the element from the parent for example color */
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn /* It affect the anchors under the navbar div when it's being hovered upon. It also covers the dropdown and the dropbtn when the dropdown div is being hovered on */{
    background-color: #AC7088;
}
  
.dropdown-content {
    display: none;
    position: absolute; /* Position: absolute; means that it can be placed in a exact location. Even on top of other text ec. */
    background-color: #f9f9f9;
    min-width: 160px; /* The minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds a shadow effect under the element */
    z-index: 1; /* Indicates the stack order of an element */
}
  
.dropdown-content a /* For the anchors under the div dropbar-content */{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover /* Affect's the anchors upon being hovered at */ {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content /* Both div's because both of the divitions is being affected the same */{
    display: block;
}

/* This is the end of the navbar*/

.rubrik{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: black;
}

.img1{
    border: dotted black; 
    width: 650px;
    height: 800px;
    margin-top: 25px;
}

.NikexLv{
    text-align: center;
    font-size: 31px;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.par1{
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: 'Nerko One', cursive; 
    color: black;
}

.par2{
    padding-top: 825px;
    padding-bottom: 5px;
    color: #ECCCB2;
    font-size: 15px;
}

.par3{
    font-family: 'Nerko One', cursive; 
    font-size: 15px; 
    padding-bottom: 5px;
    color: black;
    padding-top: 25px;
}

.wholediv1{
    border: double 5px black;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ECCCB2;
    column-count: 4;
    columns: 200px;
    column-gap: 100px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.hrline{
    background-color: #F5E8C7;
    color: black;
    border-bottom: dashed 3px black;
    margin-top: 25px;
    margin-bottom: 25px;

}

.wholediv2{
    background-color: #ECCCB2;
    font-family: 'Nerko One', cursive; 
    border: double 5px black;
    column-count: 2;
    columns: 100%;
    column-rule: double black 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;

}

.img2{
    border: mediumvioletred solid 2px;
    height: 250px;
    width: 200px;
    margin-left: 80px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img3{
    border: mediumvioletred solid 2px;
    height: 250px;
    width: 200px;
    margin-right: 80px;   
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img2:hover{
    content:url(https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    border: mediumvioletred solid 2px;
    height: 250px;
    width: 200px;
    margin-right: 40px;   
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img3:hover{
    content:url(https://www.hdwallpapers.in/download/green_white_red_nike_shoe_in_blur_light_background_hd_nike-HD.jpg);
    border: mediumvioletred solid 2px;
    height: 250px;
    width: 200px;
    margin-right: 80px;   
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vid{
    align-content: center;
    border: solid mediumvioletred;
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 540px;
    height: 300px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-size: 0.75rem;
    align-self: end;
    margin: 5px;
}